html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	/*outline: 2px solid blue;*/
}

/* *[ Index page style ]* */

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
	--dark-color: #212121;
	--body-color: #757575;
	--icon-color: #afb1b8;
	--link-color: #2196f3;
	--light-color: #ffffff;
	--footer-bgcolor: #2f303a;
	--bkg-lite-color: #f5f4fa;
	--bkg-card-color: rgba(47, 48, 58, 0.8);
}

body {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0.03em;
	color: var(--dark-color);
}

a {
	text-decoration: none;
	color: var(--dark-color);
}

/* img {
	display: block;
	width: 100%;
	height: auto;
} */

a:hover,
a:focus {
	color: var(--link-color);
	fill: var(--link-color);
}

.link {
}

header {
	border: 1px solid #ececec;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.flex {
	display: flex;
}

.flex-header {
	display: flex;
	align-items: center;
}

.nav {
	margin-top: 32px;
	margin-bottom: 32px;
}

.logo {
	font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.192;
	letter-spacing: 0.03em;
	left: 215px;
	top: 24px;
	margin-right: 85px;
	display: inline-block;
}

.web {
	color: var(--link-color);
}

.studio {
	color: var(--dark-color);
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.link-menu {
	display: flex;
	margin-left: 50px;
	padding-top: 32px;
	padding-bottom: 32px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.02em;
}

.link-contact {
	display: flex;
	margin-left: 50px;
	padding-top: 32px;
	padding-bottom: 32px;
	flex-direction: row;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.02em;
}

.link-contact .link {
	display: flex;
}

.link-item {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.icon {
	fill: var(--icon-color);
}

.link-contact svg {
	width: 16px;
	height: 12px;
	align-items: baseline;
}

.link-contact a {
	color: var(--body-color);
	fill: var(--link-color);
}

.link .svg {
	display: inline;
	vertical-align: middle;
}

.link-contact a:hover,
.link-contact a:focus,
.link-contact svg:hover,
.link-contact svg:focus {
	color: var(--link-color);
	--icon-color: var(--link-color);
}

.item {
	margin-right: 50px;
}

.hero {
	padding-bottom: 200px;
	padding-top: 200px;
	background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Header_img_opt.png);
	max-width: 1600px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

.hero-center {
	/* display: flex;
	align-items: center;
	justify-content: center; */
	text-align: center;
	margin: 0 auto;
}

.hero-high-text {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	letter-spacing: 0.06em;
	color: var(--light-color);
	width: 696px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.363;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding-bottom: 30px;
}

.btn-hero {
	margin: 0 auto;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.875;
	display: flex;
	align-items: center;
	color: var(--light-color);
	border: none;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	background: var(--link-color);
	width: 200px;
	padding: 10px;
	justify-content: center;
	align-items: center;
}

.btn-hero:hover,
.btn-hero:focus,
.btn-subscribe:hover,
.btn-subscribe:focus {
	background: var(--link-color);
	border-radius: 4px;
	box-shadow: 0px 4px 4px var(--link-color);
	cursor: pointer;
}

.benefits {
	padding-top: 94px;
	padding-bottom: 94px;
}

.benefits p {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--body-color);
}

.benefits h3 {
	font-weight: bold;
	font-size: 14px;
	line-height: 1.143;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var (--dark-color);
}

.benefits-list {
	display: flex;
}

.benefits-item {
	margin: 10px;
	width: calc((100% - 30px * 2) / 4);
}

.rectangle1 {
	border-radius: 4px;
	display: flex;
	flex-wrap: wrap;
	justify-items: center;
	/* width: calc((100%-30px * 3) / 4); */
	background-color: var(--bkg-lite-color);
	padding-left: 100px;
	padding-top: 25px;
	padding-right: 100px;
	padding-bottom: 25px;
}

.img {
	border-style: none;
	display: block; /* для прибирання пропусків пiсля інлайн компонентів */
}

.rectangle1-img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.rectangle1-img .icon {
	fill: var(--icon-color);
	width: 65px;
	height: 70px;
}

.rectangle1-txt {
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
}

.we-do {
	font-weight: bold;
	letter-spacing: 0.03em;
	/* padding-top: 94px; */
	padding-bottom: 94px;
}

.we-do-group {
	display: flex;
	padding-left: 15px;
	padding-right: 15px;
}

.we-do-list {
	display: flex;
}

.we-do-item {
	width: calc((100% - 30px * 2) / 3);
}

.we-do-item:nth-child(even) {
	margin-right: 30px;
	margin-left: 30px;
}

.we-do-fig figcaption {
	font-size: 14px;
	display: none;
	line-height: 1.143;
	text-transform: uppercase;
	text-align: center;
}

.we-do-cap {
	display: flex;
	padding-bottom: 28px;
	padding-top: 28px;
	justify-content: center;
	background-color: var(--bkg-card-color);
	color: var(--light-color);
}

.team {
	background: var(--bkg-lite-color);
	display: flex;
	flex-wrap: nowrap;
	padding-top: 94px;
	padding-bottom: 94px;
}

.team-container {
	flex-wrap: nowrap;
}

.team-list {
	display: flex;
	flex-wrap: wrap;
}

.team-item {
	display: flex;
	margin-left: 10px;
	margin-right: 10px;
}

.we-do-h-text,
.team-h-text,
.clients-h-text {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.167;
	color: var(--dark-color);
	text-align: center;
	letter-spacing: 0.03em;
	padding-bottom: 50px;
}

.card {
	width: 260px;
	background: var(--light-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.team-card-info {
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
	padding-bottom: 18px;
	flex-direction: column;
}

.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
}

.social {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}

.team-title {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card h3 {
	text-align: center;
}

.card p {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.875;
	color: var(--body-color);
	text-align: center;
}

.team-card {
	flex-wrap: nowrap;
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
}

.team-card svg {
	display: flex;
	width: 20px;
	height: 20px;
	justify-content: center;
}

.team-card a:hover,
.team-card a:focus,
.social-link:hover,
.social-link:focus {
	color: var(--link-color);
	--icon-color: var(--light-color);
	background: var(--link-color);
	border-radius: 50%;
}

.clients {
	letter-spacing: 0.03em;
	padding-top: 94px;
	padding-bottom: 94px;
}

.clients-cont {
	display: inline;
	flex-wrap: nowrap;
}

.clients-list {
	display: flex;
	justify-content: center;
}

.clients-card {
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	margin-right: 10px;
	justify-content: center;
	align-items: center;
}

.link-clients {
	display: flex;
	width: 170px;
	height: 90px;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	vertical-align: middle;
	justify-content: center;
	align-items: center;
}

.clients-logo svg {
	display: flex;
	/* width: 40px;
	height: 40px; */
	justify-content: center;
}

.link-clients:hover,
.link-clients:focus {
	border: 1px solid var(--link-color);
	--icon-color: var(--link-color);
}

footer {
	left: 1px;
	background: var(--footer-bgcolor);
	color: var(--light-color);
	display: flex;
}

.footer {
	display: flex;
	padding: 30px;
}

.foot-list {
	display: flex;
	flex-wrap: nowrap;
	/*width: calc((100% - 30px * 2) / 3); */
}

.foot-address {
	display: flex;
	flex-wrap: wrap;
	padding-top: 60px;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.foot-social {
	display: flex;
	flex-wrap: wrap;
	text-transform: uppercase;
	padding-top: 74px;
	padding-left: 147px;
}
.foot-subscribe {
	display: flex;
	flex-wrap: wrap;
	text-transform: uppercase;
	padding-top: 74px;
	padding-left: 104px;
}

.studio-down {
	color: var(--light-color);
	display: inline;
}
.address {
	display: flex;
	flex-wrap: wrap;
	display: inline-block;
}

address {
	font-style: normal;
}

.down-cont-link {
	color: rgba(255, 255, 255, 0.6);
}

form {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	position: relative;
}

.inpt-mail {
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; */
	background: var(--footer-bgcolor);
}

.btn-subscribe {
	color: var(--light-color);
	background-color: var(--link-color);
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.875;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	padding-left: 29px;
	padding-right: 62px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn-subscribe::after {
	content: " ";
	display: block;
	margin-right: 16px;
	background-image: url(../images/icon_mail_hover.svg);
	background-repeat: no-repeat;
}

/* *[ Portfolio page style ]* */
.gallery-section {
	display: flex;
	padding-bottom: 94px;
	padding-top: 94px;
}

.gallery {
	display: flex;
	width: 1176px;
	padding-top: 40px;
}

.btn-gal-group {
	display: flex;
	justify-content: center;
}

.btn {
	background: var(--bkg-lite-color);
	border-radius: 4px;
}

.btn:hover,
.btn:focus {
	background: var(--link-color);
	border: 2px solid var(--link-color);
	color: var(--light-color);
	cursor: pointer;
}

.btn-gallery {
	background: var(--bkg-lite-color);
	border-radius: 4px;
	border-color: var(--bkg-lite-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
	letter-spacing: 0.03em;
	color: var(--dark-color);
	padding-left: 22px;
	padding-right: 22px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-left: 4px;
	margin-right: 4px;
}

.gallery-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gal-item {
	width: calc((100% - 30px * 2) / 3);
	margin-bottom: 30px;
}

.card-gallery {
	background: var(--light-color);
	border: 1px solid #eeeeee;
	box-sizing: border-box;
	/* box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12); */
	/* border-radius: 0px 0px 4px 4px; */
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #eeeeee;
	box-sizing: border-box;
}

.gal-card-info {
	flex-wrap: wrap;
	padding-left: 20px;
}

.card-gallery h2 {
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--dark-color);
}

.card-gallery p {
	display: flex;
	margin-top: 30px;
	margin-bottom: 18px;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.03em;
	color: var(--body-color);
}

.gallery-txt {
	display: flex;
	color: var(--light-color);
}
